.earth {
    width: 336px;
    height: 336px;
    top: -30px;
    background: url(../images/o-worldmap.svg);
    border-radius: 50%;
    border: 36px solid #00a99d;
    background-size: 515px;
    box-shadow: inset -10px -10px 0px 1px rgba(0, 43, 32, 0.3);
    animation: rotate 24s infinite linear;
    -webkit-animation: rotate 24s infinite linear;
    margin: -35px 0 30px 0;
}
@keyframes rotate {
    from {
        background-position: 205% 0px;
    }
    to {
        background-position: 0px 0px;
    }
}
@-webkit-keyframes rotate {
    from {
        background-position: 20% 0px;
    }
    to {
        background-position: 0px 0px;
    }
}

@media (max-width: 1024px) {
    .earth {
        margin: 0 0 30px 0;
    }
}

@media (max-width: 398px) {
    .earth {
        width: 269px;
        height: 269px;
        border: 27px solid #00a99d;
        background-size: 440px;
    }
    @keyframes rotate {
        from {
            background-position: 0px 0px;
        }
        to {
            background-position: 440px 0px;
        }
    }
    @-webkit-keyframes rotate {
        from {
            background-position: 0px 0px;
        }
        to {
            background-position: 440px 0px;
        }
    }
}
