.icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: theme-color(t-color-2);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.sustainable {
    mask-image: url("../../images//Vision/sustainable.svg");
}

.inclusive {
    mask-image: url("icons/inclusive.svg");
}

.support {
    mask-image: url("icons/support.svg");
}

.phone {
    mask-image: url("icons/phone-call.svg");
}
.envelope {
    mask-image: url("icons/email.svg");
}
.map-marker {
    mask-image: url("icons/map-marker.svg");
}
